In [1]:
# Importing libraries and data set

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\jmowe\OneDrive\Project 6 CF'

In [3]:
df = pd.read_csv(os.path.join(path, 'Data', 'US_Accidents_March23.csv'))

In [4]:
df.shape

(7728394, 46)

In [5]:
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [6]:
df.columns.values

array(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country',
       'Timezone', 'Airport_Code', 'Weather_Timestamp', 'Temperature(F)',
       'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'], dtype=object)

In [7]:
# Print the column names
print(df.columns)

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [8]:
#Turning_Loop has only 1 unique value so dropping it

unique_values = df['Turning_Loop'].unique()
print(unique_values)

[False]

In [9]:
df = df.drop('Turning_Loop', axis=1)

In [10]:
df.Severity

0          3
1          2
2          2
3          3
4          2
          ..
7728389    2
7728390    2
7728391    2
7728392    2
7728393    2
Name: Severity, Length: 7728394, dtype: int64

In [11]:
df.Severity.values

array([3, 2, 2, ..., 2, 2, 2], dtype=int64)

In [12]:
column_name = 'Severity'
column_values = df[column_name]
print(column_values)

0          3
1          2
2          2
3          3
4          2
          ..
7728389    2
7728390    2
7728391    2
7728392    2
7728393    2
Name: Severity, Length: 7728394, dtype: int64

In [13]:
df.Severity.max()

4

In [14]:
df.Weather_Timestamp.values

array(['2016-02-08 05:58:00', '2016-02-08 05:51:00',
       '2016-02-08 06:56:00', ..., '2019-08-23 18:53:00',
       '2019-08-23 18:51:00', '2019-08-23 20:50:00'], dtype=object)

In [15]:
df.Weather_Condition.values

array(['Light Rain', 'Light Rain', 'Overcast', ..., 'Partly Cloudy',
       'Fair', 'Fair'], dtype=object)

In [16]:
df.Amenity.values

array([False, False, False, ..., False, False, False])

In [17]:
df.Bump.values

array([False, False, False, ..., False, False, False])

In [18]:
df.Crossing.values

array([False, False, False, ..., False, False, False])

In [19]:
df.count()

ID                       7728394
Source                   7728394
Severity                 7728394
Start_Time               7728394
End_Time                 7728394
Start_Lat                7728394
Start_Lng                7728394
End_Lat                  4325632
End_Lng                  4325632
Distance(mi)             7728394
Description              7728389
Street                   7717525
City                     7728141
County                   7728394
State                    7728394
Zipcode                  7726479
Country                  7728394
Timezone                 7720586
Airport_Code             7705759
Weather_Timestamp        7608166
Temperature(F)           7564541
Wind_Chill(F)            5729375
Humidity(%)              7554250
Pressure(in)             7587715
Visibility(mi)           7551296
Wind_Direction           7553188
Wind_Speed(mph)          7157161
Precipitation(in)        5524808
Weather_Condition        7554935
Amenity                  7728394
Bump                     7728394
Crossing                 7728394
Give_Way                 7728394
Junction                 7728394
No_Exit                  7728394
Railway                  7728394
Roundabout               7728394
Station                  7728394
Stop                     7728394
Traffic_Calming          7728394
Traffic_Signal           7728394
Sunrise_Sunset           7705148
Civil_Twilight           7705148
Nautical_Twilight        7705148
Astronomical_Twilight    7705148
dtype: int64

In [20]:
df.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [21]:
#Checking for dups, no dups found
df_dups = df[df.duplicated()]

In [22]:
df_dups

Empty DataFrame
Columns: [ID, Source, Severity, Start_Time, End_Time, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Description, Street, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 45 columns]

In [23]:
#Identifying true/false columns
boolean_columns = df.select_dtypes(include=bool).columns
print(boolean_columns)

Index(['Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit',
       'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming',
       'Traffic_Signal'],
      dtype='object')

In [24]:
#Changing True/False to 1/0
for column in boolean_columns:
    if df[column].dtype == bool:
        df[column] = df[column].astype(int)

In [25]:
#Checking mixed-type columns

for col in df.columns.tolist():
      weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df[weird]) > 0:
        print (col)

Description
Street
City
Zipcode
Timezone
Airport_Code
Weather_Timestamp
Wind_Direction
Weather_Condition
Sunrise_Sunset
Civil_Twilight
Nautical_Twilight
Astronomical_Twilight

In [26]:
unique_values = df['Civil_Twilight'].unique()
print(unique_values)

['Night' 'Day' nan]

In [27]:
#Making new dataset with all missing values dropped

df_clean = df.dropna()

In [28]:
df_clean.count()

ID                       3554549
Source                   3554549
Severity                 3554549
Start_Time               3554549
End_Time                 3554549
Start_Lat                3554549
Start_Lng                3554549
End_Lat                  3554549
End_Lng                  3554549
Distance(mi)             3554549
Description              3554549
Street                   3554549
City                     3554549
County                   3554549
State                    3554549
Zipcode                  3554549
Country                  3554549
Timezone                 3554549
Airport_Code             3554549
Weather_Timestamp        3554549
Temperature(F)           3554549
Wind_Chill(F)            3554549
Humidity(%)              3554549
Pressure(in)             3554549
Visibility(mi)           3554549
Wind_Direction           3554549
Wind_Speed(mph)          3554549
Precipitation(in)        3554549
Weather_Condition        3554549
Amenity                  3554549
Bump                     3554549
Crossing                 3554549
Give_Way                 3554549
Junction                 3554549
No_Exit                  3554549
Railway                  3554549
Roundabout               3554549
Station                  3554549
Stop                     3554549
Traffic_Calming          3554549
Traffic_Signal           3554549
Sunrise_Sunset           3554549
Civil_Twilight           3554549
Nautical_Twilight        3554549
Astronomical_Twilight    3554549
dtype: int64

In [29]:
df_clean.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
3402762,A-3412645,Source1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,...,0,0,0,0,0,0,Night,Night,Night,Night
3402767,A-3412650,Source1,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,...,0,0,0,0,0,0,Day,Day,Day,Day
3402771,A-3412654,Source1,2,2016-02-08 11:51:46,2016-02-08 17:51:46,41.375310,-81.820170,41.367860,-81.821740,0.521,...,0,0,0,0,0,0,Day,Day,Day,Day
3402773,A-3412656,Source1,2,2016-02-08 15:16:43,2016-02-08 21:16:43,40.109310,-82.968490,40.110780,-82.984000,0.826,...,0,0,0,0,0,0,Day,Day,Day,Day
3402774,A-3412657,Source1,2,2016-02-08 15:43:50,2016-02-08 21:43:50,39.192880,-84.477230,39.196150,-84.473350,0.307,...,0,0,0,0,0,0,Day,Day,Day,Day

In [30]:
#Checking mixed-type columns again in new data set

for col in df_clean.columns.tolist():
      weird = (df_clean[[col]].applymap(type) != df_clean[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df_clean[weird]) > 0:
        print (col)
        
        #No mixed-type columns now

In [31]:
unique_values = df_clean['Civil_Twilight'].unique()
print(unique_values)

['Night' 'Day']

In [32]:
#Changing Day and Night Values to Day=1 And Night=0

df_clean = df_clean.copy()
df_clean.loc[:, 'Sunrise_Sunset'] = df_clean['Sunrise_Sunset'].replace({'Day': 1, 'Night': 0})
df_clean.loc[:, 'Civil_Twilight'] = df_clean['Civil_Twilight'].replace({'Day': 1, 'Night': 0})
df_clean.loc[:, 'Astronomical_Twilight'] = df_clean['Astronomical_Twilight'].replace({'Day': 1, 'Night': 0})
df_clean.loc[:, 'Nautical_Twilight'] = df_clean['Nautical_Twilight'].replace({'Day': 1, 'Night': 0})

C:\Users\jmowe\AppData\Local\Temp\ipykernel_7540\2116477786.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_clean.loc[:, 'Sunrise_Sunset'] = df_clean['Sunrise_Sunset'].replace({'Day': 1, 'Night': 0})
C:\Users\jmowe\AppData\Local\Temp\ipykernel_7540\2116477786.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_clean.loc[:, 'Civil_Twilight'] = df_clean['Civil_Twilight'].replace({'Day': 1, 'Night': 0})
C:\Users\jmowe\AppData\Local\Temp\ipykernel_7540\2116477786.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_clean.loc[:, 'Astronomical_Twilight'] = df_clean['Astronomical_Twilight'].replace({'Day': 1, 'Night': 0})
C:\Users\jmowe\AppData\Local\Temp\ipykernel_7540\2116477786.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_clean.loc[:, 'Nautical_Twilight'] = df_clean['Nautical_Twilight'].replace({'Day': 1, 'Night': 0})

In [33]:
unique_values = df_clean['Sunrise_Sunset'].unique()
print(unique_values)

[0 1]

In [34]:
unique_values = df_clean['Civil_Twilight'].unique()
print(unique_values)

[0 1]

In [35]:
df_clean.shape

(3554549, 45)

In [36]:
#Looking at some unique values to better understand the data

unique_values = df_clean['Precipitation(in)'].unique()
print(unique_values)

[0.00e+00 1.00e-02 8.00e-02 5.00e-02 3.00e-02 2.00e-02 4.00e-02 1.00e-01
 1.80e-01 2.20e-01 9.00e-02 1.10e-01 1.20e-01 6.00e-02 7.00e-02 1.30e-01
 3.20e-01 1.50e-01 2.10e-01 2.40e-01 5.30e-01 9.00e-01 1.40e-01 2.00e-01
 1.90e-01 2.50e-01 2.70e-01 3.40e-01 1.70e-01 1.60e-01 5.00e-01 3.00e-01
 9.93e+00 5.50e-01 7.60e-01 2.30e-01 4.50e-01 2.60e-01 2.73e+00 6.00e-01
 2.80e-01 9.97e+00 9.95e+00 9.99e+00 2.90e-01 4.10e-01 9.98e+00 9.96e+00
 3.90e-01 4.40e-01 7.80e-01 5.40e-01 4.30e-01 5.70e-01 7.90e-01 3.70e-01
 3.30e-01 1.15e+00 5.20e-01 6.20e-01 5.10e-01 3.10e-01 7.20e-01 4.80e-01
 4.70e-01 3.50e-01 4.00e-01 9.80e-01 4.20e-01 4.60e-01 3.80e-01 7.50e-01
 1.01e+00 7.10e-01 7.70e-01 7.00e-01 3.60e-01 4.90e-01 5.60e-01 1.08e+00
 6.10e-01 6.70e-01 7.40e-01 8.90e-01 1.95e+00 9.70e-01 8.20e-01 1.07e+00
 1.39e+00 1.80e+00 6.40e-01 5.90e-01 1.19e+00 6.50e-01 1.67e+00 6.80e-01
 1.10e+00 2.05e+00 8.80e-01 1.57e+00 6.30e-01 6.60e-01 1.42e+00 1.21e+00
 9.90e-01 1.56e+00 1.11e+00 1.27e+00 1.22e+00 1.04e+00 8.60e-01 5.80e-01
 1.40e+00 1.28e+00 1.77e+00 8.00e-01 2.31e+00 1.17e+00 1.02e+00 9.40e-01
 1.64e+00 8.30e-01 1.47e+00 1.43e+00 1.05e+00 1.38e+00 8.40e-01 1.03e+00
 2.11e+00 1.06e+00 1.18e+00 1.00e+00 9.30e-01 1.13e+00 9.60e-01 1.58e+00
 6.90e-01 1.82e+00 9.10e-01 1.37e+00 1.52e+00 1.09e+00 1.31e+00 9.20e-01
 1.12e+00 8.50e-01 1.16e+00 1.14e+00 1.34e+00 7.30e-01 1.32e+00 3.00e+00
 1.29e+00 9.50e-01 1.36e+00 1.35e+00 8.10e-01 1.62e+00 8.70e-01 1.63e+00
 1.86e+00 1.68e+00 1.46e+00 1.41e+00 1.71e+00 1.55e+00 1.30e+00 1.25e+00
 1.79e+00 1.88e+00 1.23e+00 2.14e+00 1.26e+00 1.83e+00 1.93e+00 1.61e+00
 1.81e+00 1.85e+00 2.23e+00 1.49e+00 1.60e+00 2.30e+00 1.20e+00 1.48e+00
 2.34e+00 2.36e+00 2.04e+00 2.54e+00 1.45e+00 2.01e+00 1.75e+00 2.03e+00
 2.57e+00 1.24e+00 2.47e+00 1.53e+00 2.64e+00 2.75e+00 1.70e+00 1.69e+00
 1.65e+00 2.40e+00 1.51e+00 1.72e+00 1.87e+00 1.66e+00 3.42e+00 1.33e+00
 1.92e+00 1.50e+00 2.26e+00 5.13e+00 2.85e+00 1.99e+00 1.91e+00 1.04e+01
 2.40e+01 1.59e+00 1.76e+00 1.73e+00]

In [37]:
unique_values = df_clean['Wind_Direction'].unique()
print(unique_values)

['SW' 'WSW' 'West' 'NNW' 'WNW' 'NW' 'W' 'SSW' 'East' 'SE' 'North' 'ENE'
 'NNE' 'NE' 'SSE' 'CALM' 'South' 'ESE' 'S' 'Variable' 'VAR' 'N' 'E']

In [38]:
unique_values = df_clean['Humidity(%)'].unique()
print(unique_values)

[ 58.  93.  92. 100.  96.  88.  80.  82.  86.  90.  81.  73.  77.  78.
  85.  84.  79.  68.  74.  75.  63.  57.  56.  59.  70.  71.  54.  46.
  60.  50.  65.  62.  67.  89.  69.  99.  97.  76.  87.  66.  53.   8.
  12.  15.  23.  24.  39.  51.  36.  38.  83.  40.  22.   6.  48.  49.
  42.  10.  37.  45.  44.  31.  64.  94.  34.  72.  43.  55.  14.  30.
  21.  18.  19.  91.  98.  47.  95.  41.  61.  52.  33.  32.  28.  27.
  35.   9.  20.  25.  17.  16.  13.  11.  26.  29.   7.   5.   4.   3.
   2.   1.]

In [40]:
#Exporting the cleaned data


df_clean.to_csv(os.path.join(path, 'Data','df_clean.csv'))

In [41]:
unique_values = df_clean['State'].unique()
print(unique_values)

['OH' 'IN' 'KY' 'WV' 'PA' 'MI' 'CA' 'MN' 'LA' 'NE' 'MO' 'IA' 'ND' 'CO'
 'KS' 'TX' 'WI' 'OK' 'WY' 'SD' 'MS' 'AR' 'IL' 'MA' 'RI' 'ME' 'NY' 'TN'
 'FL' 'MD' 'NC' 'GA' 'VA' 'CT' 'NJ' 'DE' 'NH' 'SC' 'VT' 'DC' 'AL' 'MT'
 'ID' 'UT' 'AZ' 'NM' 'NV' 'WA' 'OR']

NameError: name 'unique_values' is not defined